<div class="card">
    <div class="card-body">
        <div class="circle_letter">
            <h2>{{NameSlice user.name}}</h2>
        </div>
        <div class="Ranking text-center">
            <!-- Just a example of the ranking place -->
            <a href="#"><i class="far fa-star"></i></a>
            <a href="#"><i class="far fa-star"></i></a>
            <a href="#"><i class="far fa-star"></i></a>
            <a href="#"><i class="far fa-star"></i></a>
        </div>
        <div class="my-3">
            <h6 class="tinyTitle">Description</h6>
            <hr class="hr-25">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>


        <p class="card-text"><small class="text-muted">By: {{user.email}}</small></p>

    </div>
</div>
<div>

</div>
