<h2>{{title}}</h2>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <h6 class="col-sm-2">Name:</h6>
            <div class="col-sm-10">
                <p>{{user.name}}</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-sm-2">Public email:</h6>
            <div class="col-sm-10">
                <p>{{user.email}}</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-sm-2">Bio:</h6>
            <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-sm-2">Company:</h6>
            <div class="col-sm-10">
                <p>www.hobbit.com</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-sm-2">Location:</h6>
            <div class="col-sm-10">
                <p>Panama</p>
            </div>
        </div>
    </div>
</div>
