<section id="banner">
    <div class="banner-container image-{{spot.categories.0.name}}">
        <div class="opc-bg">
            <!--<div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <h1 class="text-white font-weight-bold letter-space3">{{spot.categories.0.name}}</h1>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>