<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <h4 class="font-weight-bold">List of spots registered</h4>
        <hr class="my-4">
      </div>
    </div>

    {{#each listing}}
    <div class="row py-4 border-b">
      <div class="col-md-3">
        <img class="card-img" src="http://via.placeholder.com/720x480?text=HobbyIt" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <h5>{{this.name}}</h5>
        <div class="Ranking">
          <!-- Just a example of the ranking place -->
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
        </div>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text"><small class="text-muted">By: {{this.addedBy.email}}</small></p>
        <a class="btn btn-light" href="#" role="button">Details</a>

      </div>
    </div>
    {{/each}}

    <div class="row py-4 border-b">
      <div class="col-md-3">
        <img class="card-img" src="http://via.placeholder.com/720x480?text=HobbyIt" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <h5>Title Spot Registered</h5>
        <div class="Ranking">
          <!-- Just a example of the ranking place -->
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
        </div>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="btn btn-light" href="#" role="button">Details</a>

      </div>
    </div>
    <div class="row py-4 border-b">
      <div class="col-md-3">
        <img class="card-img" src="http://via.placeholder.com/720x480?text=HobbyIt" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <h5>Title Spot Registered</h5>
        <div class="Ranking">
          <!-- Just a example of the ranking place -->
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
          <a href="#"><i class="far fa-star"></i></a>
        </div>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="btn btn-light" href="#" role="button">Details</a>

      </div>
    </div>
  </div>
</section>
