<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="font-weight-bold">Google Map</h4>
        <hr class="my-4">
        <div class="map scrollhere-contact" id="contact">
          <div id="map" lat='{{spot.address.lat}}' lng='{{spot.address.lng}}'></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start map section -->
<section class="map scrollhere-contact no-padding x wow fadeIn" id="contact">

</section>
