<div class="col-md-7 p-4">
    <img src="/images/london.jpg" alt="" class="img-fluid">
</div>
<div class="col-md-5">
    <h2 class="text-capitalize">Spot discovered this week</h2>
    <p>Wonder Tour is committed to bringing our clients the best in value and quality travel arrangements. We are passionate about travel and sharing the world's wonders with you.</p>
    <button type="button" class="btn btn-info">More Details</button>
</div>
