<div class="col-md-6">
    <img src="/images/london.jpg" alt="" class="img-fluid">
</div>
<div class="col-md-6">
    <span>Travel</span>
    <h3 class="text-capitalize">The Best Dressed Men Of 2016</h3>
    <div class="datainfo pb-2">
        <span>MAY 22, 2018</span>
        <span>5 Comments</span>
        <span>Eliot Aderson</span>
    </div>
    <p>Wonder Tour is committed to bringing our clients the best in value and quality travel arrangements. We are passionate about travel and sharing the world's wonders with you.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>

</div>
