<div class="col-md-12">
    <h2>Spot Listing</h2>
    <p class="lead">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veniam suscipit, fugiat sed expedita laudantium. 
     Nihil explicabo unde quidem? Animi enim ullam distinctio nam nostrum vitae.
    </p>
</div>
<div class="clearfix"></div>
<div class="col-md-4 p-3">
    <a href="#">
        <div class="card item" >
            <img src="/images/spot1.jpg" class="card-img-top" alt="...">
        </div>
    </a>
</div>
<div class="col-md-4 p-3">
    <a href="#">
    <div class="card item">
        <img src="/images/spot2.jpg" class="card-img-top" alt="...">
    </div>
    </a>
</div>
<div class="col-md-4 p-3">
    <a href="#">
    <div class="card item">
        <img src="/images/spot3.jpg" class="card-img-top" alt="...">
    </div>
    </a>
</div>
<div class="col-md-4 p-3">
    <a href="#">
        <div class="card item" >
            <img src="/images/spot1.jpg" class="card-img-top" alt="...">
        </div>
    </a>
</div>
<div class="col-md-4 p-3">
    <a href="#">
    <div class="card item">
        <img src="/images/spot2.jpg" class="card-img-top" alt="...">
    </div>
    </a>
</div>
<div class="col-md-4 p-3">
    <a href="#">
    <div class="card item">
        <img src="/images/spot3.jpg" class="card-img-top" alt="...">
    </div>
    </a>
</div>