<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-4">
      {{>spot/map}}
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        {{> spot/header }}
      </div>
      <h6>Description</h6>
      <hr>
      <div class="text-left descript_card mb-3">
        <div class="card border-light">
          <div class="card-body bg-light">
            <p class="w-100 text-justify">{{spot.description}}</p>
          </div>
        </div>
      </div>
      <h6>Amenities</h6>
      <hr>
      <div class="row mb-3">
          {{> spot/amenities }}
      </div>
    </div>
    <div class="col-md-4">
      {{> spot/carrousel }}
      <div class="row">
        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <div class="card border-light mb-3">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link second_title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Comments Box
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show mt-2" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-light">
                  {{#each spot.comments}}
                    <div class="card border-light mb-2">
                      <div class="card-body bg-white coments_box">
                        <p class="card-text"><small class="text-muted">- {{this.created_Date}}</small></p>
                        <p><i class="fas fa-book-reader"></i> {{this.feed}}</p>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          {{> spot/comment}}
        </div>
      </div>
    </div>
  </div>
</div>
