<section>
    <div class="container py-5">
        <div class="row">
             <a href="/discover?category=Turismo" class="badge badge-info">Turismo</a>
             <a href="/discover?category=Familiar" class="badge badge-info">Familiar</a>
            {{#if category}}
            <div class="col-md-12">
                <h4>Filtrado por {{category}}</h4>
            </div>
            {{/if}}
            <div class="col-md-12 ">
                <form class="my-2" method="GET" action="/discover">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <input class="form-control mr-sm-2" type="search" placeholder="Category" name="category" aria-label="Search">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            {{#if category}}
                {{>discover/filtered}}
            {{else}}
                {{> discover/cards}}
            {{/if}}
        </div>
    </div>
</section>

