<section>
    <div class="container py-5">
        <div class="row">
            {{#if category}}
                {{>discover/filtered}}
            {{else}}
                {{> discover/cards}}
            {{/if}}
        </div>
    </div>
</section>

