<section id="cards">
  <div class="container-fluid p-5">
    <div class="row">
      {{> home/cards}}
    </div>
  </div>
</section>
<section id="hotSpot" class="bg-light">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      {{> home/hotSpot }}
    </div>
  </div>
</section>
<section class="services">
  <div class="container py-5">
    <div class="row">
      {{> home/listing }}
    </div>
  </div>
</section>