<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-wifi"></i>
      <span>Wifi Adatable</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-key"></i>
      <span>Security</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-bus-alt"></i>
      <span>Transport</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-exclamation-triangle"></i>
      <span>Alert Agent</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-tint"></i>
      <span>Drink Bottle</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card border-light mb-3">
    <div class="card-body bg-light text-center amenities">
      <i class="fas fa-utensils"></i>
      <span>Food</span>
    </div>
  </div>
</div>
