<section>
  <div class="card border-light mb-5">
    <div class="card-header border-bottom-0">
      <form action="/detail/{{spot.id}}" method="post">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-md-12 col-form-label">Feedback</label>
          <div class="col-sm-12 col-md-12">
            <textarea name="feedback" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Send</button>
      </form>
    </div>
  </div>
</section>
