<h4 class="font-weight-bold">Google Map</h4>
<hr class="my-4">
<p>
  <div class="map scrollhere-contact" id="contact">
    <div id="map" lat='{{spot.address.lat}}' lng='{{spot.address.lng}}'></div>
  </div>

</p>
