<!-- Mapa -->
<div class="box-Map-Card">
  <div class="card text-center border-light">
    <div class="card-header">
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group col-md-12">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
    </div>
    <div class="card-body p-0">
      <div class="map scrollhere-contact" id="contact">
        <div id="map" lat='{{spot.address.lat}}' lng='{{spot.address.lng}}'></div>
      </div>
    </div>
  </div>
</div>
<!-- end Mapa -->
